@{
    ViewBag.Title = "Đặt câu hỏi đến Phòng Công Tác Sinh Viên trường đại học Bách Khoa Đà Nẵng";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
    <link rel="stylesheet" href="~/css/style-metro.css">
}

<script>
    $(document)
        .ready(
            function() {
                $("#submit_question_form")
                    .validate(
                    {
                        rules: {
                            Email: {
                                required: true,
                                email: true
                            },
                            TypeRequest: {
                                required: true,
                            },
                            Information: {
                                required: true,
                            },
                            Field: {
                                required: true,
                            },
                            Name: {
                                required: true,
                            },
                            Title: {
                                required: true,
                            },
                            ContentHtml: {
                                required: true,
                            }
                        },
                        messages: {
                            Email: {
                                required: "Chưa nhập địa chỉ email!",
                                email: "Nhập sai định dạng địa chỉ email!"
                            },
                            TypeRequest: {
                                required: "Chưa chọn đối tượng!",
                            },
                            Information: {
                                required: "Chưa nhập thông tin!",
                            },
                            Field: {
                                required: "Chưa chọn lĩnh vực!",
                            },
                            Name: {
                                required: "Chưa nhập tên!",
                            },
                            Title: {
                                required: "Chưa nhập tiêu đề!",
                            },
                            ContentHtml: {
                                required: "Chưa nhập nội dung câu hỏi!",
                            }
                        },

                        submitHandler: function(form) {
                            var response = grecaptcha.getResponse();
                            if (response.length == 0) {
                                $('#recaptcha-error').html("Chưa nhập mã xác nhận!")
                            } else {
                                requestQuestion();
                            }
                        }
                    });
            });
</script>


<script type="text/javascript">
    function replaceField() {
        if ($("#i_am").val() == "student") {
            $(".i_am_label").text("MSSV");
            $("#hoikhoa").show();
        } else if ($("#i_am").val() == "old-student") {
            $(".i_am_label").text("Niên khóa");
            $("#hoikhoa").hide();
        } else if ($("#i_am").val() == "parent") {
            $(".i_am_label").text("Số điện thoại");
            $("#hoikhoa").hide();
        } else if ($("#i_am").val() == "hightschool-student") {
            $(".i_am_label").text("Trường của bạn");
            $("#hoikhoa").hide();
        } else if ($("#i_am").val() == "other") {
            $(".i_am_label").text("Nghề nghiệp");
            $("#hoikhoa").hide();
        }
    }
</script>
<div id="maincontent">
    <div id="maincontent-section1">
        <div class="maincontent-main listbox listbox-main">
            <div class="listbox-content">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"></div>
                                <div id="action-bar" class="actions">
                                    <a href="javascript:window.history.back();" class="btn default btn-sm btn-prev yellow-stripe">
                                        <i class="fa fa-angle-left"></i>
                                        <span class="hidden-480">
                                            Quay lại
                                        </span>
                                    </a>
                                    <a href="~/TuVan/DatCauHoi" class="btn btn-sm green" style="padding: 5px 8px"><i class="fa fa-plus"></i> Thêm câu hỏi</a>
                                    <a href="~/TuVan/DanhSachCauHoi" class="btn btn-sm red" style="padding: 5px 5px">
                                        <i class="fa fa-bullhorn"></i>
                                        Tất cả câu hỏi
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <h2>Đặt câu hỏi đến Phòng Công Tác Sinh Viên</h2>
                                <hr/>
                                <h4 style="color: red; text-align: center;">@(ViewBag.error != null ? ViewBag.error : string.Empty)</h4>
                                <form id="submit_question_form" class="form-horizontal" action="/TuVan/DatCauHoi" method="post" role="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Đối tượng</label>
                                            <div class="col-md-9">
                                                <select id="i_am" name="TypeRequest" class="form-control" onchange="replaceField()">
                                                    <option value="student">Sinh viên</option>
                                                    <option value="old-student">Cựu sinh viên</option>
                                                    <option value="parent">Phụ huynh</option>
                                                    <option value="hightschool-student">Học sinh phổ thông</option>
                                                    <option value="other">Khác</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div id="author_type" class="form-group">
                                            <label class="col-md-3 control-label i_am_label">MSSV</label>
                                            <div class="col-md-9">
                                                <input class="form-control" id="author_stuID" name="Information" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Họ tên</label>

                                            <div class="col-md-9">
                                                <input class="form-control" name="Name" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Email</label>

                                            <div class="col-md-9">
                                                <input class="form-control" name="Email" type="email">
                                                <em class="help-block">Hãy nhập địa chỉ email chính xác để nhận câu trả lời</em>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Lĩnh vực</label>
                                            <div class="col-md-9">
                                                <select name="Field" class="form-control">
                                                    <option value="Cấp phát các loại giấy tờ - Hồ sơ Sinh viên">Cấp phát các loại giấy tờ - Hồ sơ Sinh viên</option>
                                                    <option value="Tạm dừng; Học lại; Học phí; Kỷ luật; Khen thưởng"> Tạm dừng; Học lại; Học phí; Kỷ luật; Khen thưởng</option>
                                                    <option value="Chế độ chính sách; Học bổng; Phục vụ Sư phạm">Chế độ chính sách; Học bổng; Phục vụ Sư phạm</option>
                                                    <option value="Điểm rèn luyện; Hoạt động cộng đồng; Đoàn - Hội">Điểm rèn luyện; Hoạt động cộng đồng; Đoàn - Hội</option>
                                                    <option value="Tư vấn hướng nghiệp - Tuyển sinh">Tư vấn hướng nghiệp - Tuyển sinh</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Tiêu đề</label>

                                            <div class="col-md-9">
                                                <input class="form-control" name="Title" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Nội dung</label>
                                            <div class="col-md-9">
                                                <textarea class="form-control" name="ContentHtml" rows="3"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">Mã xác nhận</label>
                                            <div class="col-md-9">
                                                <script src="https://www.google.com/recaptcha/api.js"></script>
                                                <div id="recaptcha" class="g-recaptcha" data-sitekey="6LdUlR8TAAAAANyuAqiE6jf9PjMH9ko6CjIOhhhd"></div>
                                                <label style="color: red;" id="recaptcha-error">
                                                    @(ViewBag.error != null ? ViewBag.error : string.Empty)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Lưu ý</label>
                                            <div class="col-md-9" style="color: red;">
                                                <p></p>
                                                <p>- Kiểm tra thật kĩ nội dung câu hỏi trước khi gửi</p>
                                                <p>- Câu hỏi hợp lệ là câu hỏi có đầy đủ thông tin (Họ tên, email và các thông tin kèm theo)</p>
                                                <p>- Mọi câu hỏi sai chuyên mục hoặc sai chính tả, không rõ ràng sẽ không nhận được câu trả lời từ ban tư vấn.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <input name="question" type="hidden" value="1"/>
                                                    <button type="submit" class="btn green"><i class="icon-ok"></i> Gửi <span class="loading"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="maincontent-sidebar">
            @Html.Action("RandomQuestion", "Question", new { count = 5 })
        </div>
    </div>
</div>
<script>
    function requestQuestion() {
        $.ajax({
            type: 'POST',
            data: $('#submit_question_form').serialize(),
            url: '/TuVan/DatCauHoi',
            success: function(response) {
                $('.modal-announcement-message').html(response);
                $('#modal-announcement').modal('show');
            },

            error: function(response) {
                $('.modal-announcement-message').html('Lỗi trong quá trình gửi dữ liệu!');
                $('#modal-announcement').modal('show');
            }
        });
    }
</script>