.animation-messager {
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: example;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: example;
    color: blue;
}

/* Chrome, Safari, Opera */

@-webkit-keyframes example {
    from { background-color: blue; }

    to { background-color: red; }
}

/* Standard syntax */

@keyframes example {
    from { background-color: blue; }

    to { background-color: red; }
}