@charset "UTF-8";

/* STYLE SUBPAGE */

@media only screen and (max-width: 899px) {
    #maincontent { margin-top: 40px; }
}

.listbox-content-item-sub {
    border: 1px solid ghostwhite;
    border-radius: 3px;
    margin-bottom: 8px;
    margin-top: 8px;
    overflow: hidden;
    padding: 08px 0px;
}

.listbox-content-item-sub img {
    height: 100%;
    width: 100%;
}

.listbox-content-item-sub:hover { background: #fafafa; }

.listbox-content-item-sub p span a {
    background: #556DAC;
    color: white;
    float: right;
    font-size: 12px;
    padding: 2px 8px;
}

#imgGioiThieu {
    background: #d7d7d7;
    height: 100%;
    position: relative;
    top: 130px;
}

#imgGioiThieu img { width: 100%; }


/* Phan Cong Nhiem Vu */

.tieude {
    background-color: #3A5CAD;
    color: whitesmoke;
    font-size: 15px;
}

tr.noidung1 { background-color: rgba(97, 76, 76, 0.06); }

tr.noidung2 { background-color: rgba(97, 76, 76, 0.12); }

/* Style icon event */

.listbox-content-item .icon-date { max-width: 65px; }

/*Detail anoucement */

.listbox-content-article { overflow: hidden; }

.listbox-content-article img {
    height: 100% !important;
    max-width: 100% !important;
}

.listbox-content-article #title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.listbox-content-article #content { margin-top: 20px; }

.listbox-content-article .listbox-content-item-moreinfo { text-align: right; }

/* Search result style */

.categoryResult {
    background: #fafafa;
    border-bottom: 1px dotted rgba(79, 110, 209, 1);
    border-left: 2px solid rgba(79, 110, 209, 1);
    border-top: 1px solid #eef;
    color: #555;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
    padding: 7px 10px;
}