@charset "UTF-8";
/* STYLE SUBPAGE */
@media only screen and (max-width: 899px) {
    #maincontent {
        margin-top: 40px;
    }
}

.listbox-content-item-sub {
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 08px 0px;
    border-radius: 3px;
    border: 1px solid ghostwhite;
}

    .listbox-content-item-sub img {
        width: 100%;
        height: 100%;
    }

    .listbox-content-item-sub:hover {
        background: #fafafa;
    }

    .listbox-content-item-sub p span a {
        background: #556DAC;
        color: white;
        padding: 2px 8px;
        float: right;
        font-size: 12px;
    }

#imgGioiThieu {
    background: #d7d7d7;
    top: 130px;
    position: relative;
    height: 100%;
}

    #imgGioiThieu img {
        width: 100%;
    }


/* Phan Cong Nhiem Vu */
.tieude {
    background-color: #3A5CAD;
    font-size: 15px;
    color: whitesmoke;
}

tr.noidung1 {
    background-color: rgba(97, 76, 76, 0.06);
}

tr.noidung2 {
    background-color: rgba(97, 76, 76, 0.12);
}
/* Style icon event */
.listbox-content-item .icon-date {
    max-width: 65px;
}

/*Detail anoucement */
.listbox-content-article {
    overflow: hidden;
}

    .listbox-content-article img {
        max-width: 100% !important;
        height: 100% !important;
    }

    .listbox-content-article #title {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }

    .listbox-content-article #content {
        margin-top: 20px;
    }

    .listbox-content-article .listbox-content-item-moreinfo {
        text-align: right;
    }

/* Search result style */
.categoryResult {
    border-bottom: 1px dotted rgba(79,110,209,1);
    border-top: 1px solid #eef;
    border-left: 2px solid rgba(79,110,209,1);
    background: #fafafa;
    padding: 7px 10px;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
    font-size: 1.1em;
}