@using WEBPCTSV.Models.bean
@model List<SocialActivity>

@{
    List<SocialActivity> listSocialActivity = Model;
}

<table class="table table-hover">
    <thead>
    <tr>
        <th>Tên hoạt động</th>
        <th>Thời gian</th>
        <th>Địa điểm</th>
    </tr>
    </thead>
    <tbody>
    @foreach (SocialActivity socialActivity in listSocialActivity)
    {
        <tr>
            <td>@socialActivity.SocialActivityName</td>
            <td>@socialActivity.Time</td>
            <td>@socialActivity.Place</td>
        </tr>
    }
    </tbody>
</table>