@using WEBPCTSV.Models.bean
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    ViewBag.Title = "AccountInformation";
}
@{
    Account account = ViewBag.account;
}
<h3>Thông tin tài khoản</h3>
<div class="form-horizontal" ng-controller="accountInformation">
    <div class="form-group">
        <label class="control-label col-sm-3" for="lastname">Ảnh đại diện:</label>
        <div class="col-sm-6">
            @if (account.Avatar == null)
            {
                <img src="~/assets/images/icon/Contacts.svg" width="200" height="200"/>
            }
            else
            {
                <img src="@account.Avatar" width="200" height="200"/>
            }
            <br/>
            @using (Html.BeginForm("UploadImageAvatar", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="input-group">
                    <input class="form-control" type="file" name="file"/>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Upload</button>
                    </div>
                </div>
            }
        </div>
    </div>

    <hr style="width: 90%" />

    <div class="form-group">
        <label class="control-label col-sm-3" data-toggle="tooltip" title="Địa chỉ email dùng để nhắc nhở các thông báo qua email"> Địa chỉ Email </label>
        <div class=" col-sm-6">
            <div class="input-group">
                <input ng-init="infoEmail = '@account.Email'" ng-model="infoEmail"  type="email" class="form-control" placeholder="địa chỉ email của bạn" />
                <div class="input-group-btn">
                    <button id="btn-saveemail" ng-click="SaveEmail()" class="btn btn-primary"> Lưu lại </button>
                </div>
            </div>               
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <label class="control-label " id="info-saveemail" for="btn-saveemail" style="color: #ff6a00"></label>
        </div>
    </div>

    <hr style="width: 90%"/>
    <div class="form-group">
        <label class="control-label col-sm-3" for="oldPassword">Mật khẩu cũ</label>
        <div class="col-sm-3">
            <input type="password" ng-model="oldPassword" class="form-control" name="oldPassword" id="oldPassword" value="" placeholder="mật khẩu hiện tại của bạn">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="newPassword">Mật khẩu mới</label>
        <div class="col-sm-3">
            <input type="password" ng-model="newPassword" class="form-control" name="newPassword" id="newPassword" value="" placeholder="mật khẩu bạn muốn thay đổi">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="reNewPassword">Mật khẩu mới 2</label>
        <div class="col-sm-3">
            <input type="password" ng-model="reNewPassword" class="form-control" name="reNewPassword" id="reNewPassword" value="" placeholder="ghi lại mật khẩu mới ">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <label class="control-label " id="info-changepassword" for="btn-changePassword" style="color: #ff6a00"></label>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-3 col-sm-offset-3">
            <button id="btn-changePassword" ng-click="ChangePassword()" class="btn btn-success">Đổi mật khẩu</button>
        </div>
    </div>

    

</div>