@using WEBPCTSV.Models.bean
@using WEBPCTSV.Models.Support
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    ViewBag.Title = "ManageAccount";
}

<link href="~/Content/ManageAccount.css" rel="stylesheet" type="text/css"/>

<h3 class="header-paper">Quản lý tài khoản</h3>
<form action="/ManageAccount/GetListAccount?page=1" method="post">
    <div class="input-group" style="float: right; margin-right: 20px; padding-bottom: 5px; width: 400px;">
        <input name="search" type="text" class="form-control">
        <input name="page" type="hidden" value="1">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Tìm kiếm</button>
        </div>
    </div>
</form>
<hr style="clear: both"/>
<div class="container-layoutmanager">
    @{
        List<Account> listAccount = ViewBag.listAccount;
        PageNumber pageNumber = ViewBag.pageNumber;
    }
    @Html.Partial("_ListAccount", listAccount)
    @Html.Partial("~/Views/PartialShared/_PageNumber.cshtml", pageNumber)

    <div class="font-backgroud">
    </div>
</div>

@*<div class="edit-Account panel panel-primary">
    <div class="panel-heading"><strong> sửa tài khoản</strong></div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-4" for="username">Tên tài khoản:</label>
                <div class="col-sm-7">
                    <input class="form-control" id="username" name="username" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="password">Mật khẩu:</label>
                <div class="col-sm-7">
                    <button class="btn btn-default">Reset mật khẩu</button>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="email">Email:</label>
                <div class="col-sm-7">
                    <input class="form-control" id="email" name="email" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="timelock">Khóa tài khoản:</label>
                <div class="col-sm-7">
                    <input type="date" class="form-control" id="timelock" name="timelock" />
                </div>
            </div>

            <div class="form-group" align="center">
                <button class="btn btn-primary">Lưu lại</button>
                 <button class="btn btn-success">Thoát</button>
            </div>
        </form>
    </div>
    
</div>*@