@{
    ViewBag.Title = "Lỗi quyền truy cập!";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}

<div id="maincontent">
    <div id="maincontent-section1">
        <div class="maincontent-main listbox listbox-main">
            <ol class="breadcrumb box-shadow">
                <li>
                    <a href="~/">Trang chủ</a>
                </li>
                <li class="active">Thông báo lỗi truy cập</li>
            </ol>
            <label class="error col-xs-12">Bạn không đủ quyền truy cập chức năng này! Liên hệ với quản trị viên để được giải quyết.</label>
        </div>
    </div>
</div>