<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>@ViewBag.Title</title>
    <link href="~/css/style.css" rel="stylesheet"/>
    <link href="~/css/responsive.css" rel="stylesheet"/>
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function callSubmit() {
            $("#form1").submit();
        }

        $(document)
            .ready(function() {
                $(window)
                    .scroll(function() {
                        $("#header").css({ "margin-top": (-($(window).scrollTop())) + "px" });
                        if ($("#header").css("marginTop").replace("px", "") < $('#top_header').height() * (-1)) {
                            $("#header").css("marginTop", "-" + $('#top_header').height() + "px");
                        }
                    });
            });
    </script>
    @*Slide out menu*@
    <script src="~/js/slidebars.min.js"></script>
    <link href="~/css/slidebars.min.css" rel="stylesheet"/>
    <script>
        (function($) {
            $(document)
                .ready(function() {
                    $.slidebars();
                });
        })(jQuery);
    </script>
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
</head>
<body>
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.4";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div id="sb-site">
    <div class="over-layer"></div>
    @RenderBody()
    <div id="wrapper_footer">
        <div id="footer">
            <div id="link">
                <div class="col-md-6">
                    <div class="row-custom">
                        <div class="col-child">
                            <h3>VỀ CHÚNG TÔI</h3>
                            <ul id="menu-footer-menu" class="menu">
                                <li id="menu-item-1588" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1588">
                                    <a href="http://ctsv.dut.edu.vn:8081">Phòng Công Tác Sinh Viên</a>
                                </li>
                                <li id="menu-item-1589" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1589">
                                    <a href="~/GioiThieu/ChucNangNhiemVu">Chức Năng &amp; Nhiệm Vụ</a>
                                </li>
                                <li id="menu-item-1587" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1587">
                                    <a href="~/GioiThieu/PhanCongNhiemVu">Cơ cấu tổ chức</a>
                                </li>

                                @*<li id="menu-item-1590" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1590"><a href="http://ctsv.dut.edu.vn/?page_id=1505">Liên Hệ</a></li>*@
                            </ul>
                        </div>
                        <div class="col-child">
                            <h3>THÔNG TIN VỀ</h3>
                            <div>
                                <ul id="menu-footer-menu-2" class="menu">
                                    <li id="menu-item-1591" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1591">
                                        <a href="~/ThongBao?page=1">Thông Báo</a>
                                    </li>
                                    <li id="menu-item-1592" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1592">
                                        <a href="~/HocBong?page=1">Học Bổng</a>
                                    </li>
                                    <li id="menu-item-1593" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1593">
                                        <a href="~/TuyenDung?page=1">Tuyển Dụng</a>
                                    </li>
                                    <li id="menu-item-1676" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1676">
                                        <a href="http://ctsv.dut.edu.vn:8080">Ký Túc Xá</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-child footer-contact">
                            <h3>LIÊN HỆ</h3>
                            <ul id="menu-lien-ket" class="menu">
                                <li id="menu-item-1595" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1595"><i class="fa fa-globe"></i> Trường Đại học Bách khoa - Đại học Đà Nẵng.</li>
                                <li id="menu-item-1595" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1595"><i class="fa fa-map-marker"></i> Địa chỉ: 54 - Nguyễn Lương Bằng - Đà Nẵng.</li>
                                <li id="menu-item-1595" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1595"><i class="fa fa-phone"></i> Tel: 0511.3738.268</li>
                                <li id="menu-item-1595" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1595"><i class="fa fa-envelope"></i> Email: ctsv.dhbk@dut.udn.vn</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div><!-- end row -->
        <div id="bot-footer">
            <div id="info">
                <span id="site">
                        <a href="ctsv.dut.udn.vn">Phòng Công Tác Sinh Viên © 2015</a>
                    </span>
                <span id="design">
                        Đại Học Bách Khoa Đà Nẵng
                    </span>
                <!-- end copyright -->
            </div>
        </div>
        <!-- end bottom -->
    </div>


</div>
<div class="navbar sb-slide">
    <div id="header">
        <div id="headercontent">
            <div id="top_header">
                <div id="top_header_inner">
                    <a href="~/" title="Phòng công tác sinh viên - Đại học bách khoa - Đại học Đà Nẵng">
                        <div id="logo">
                            <img src="~/images/logo.jpg"/>
                            <img src="~/images/logo.png"/>
                        </div>
                    </a>
                    <div id="nav">
                        <ul class="socialMediaLinks">
                            <li>
                                <a href="../GioiThieu">Giới thiệu</a>
                            </li>|
                            <li>
                                <a href="http://ktx.dut.udn.vn:8080">Ký túc xá</a>
                            </li>
                            @*<li class="facebook"><a href="https://www.facebook.com/ctsvbkdn" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                                    <li class="twitter"><a href="https://twitter.com/ctsvbkdn" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                                    <li class="googleplus"><a href="https://plus.google.com/+ctsvbkdn" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
            <div id="mainnav">
                <div id="navigation">
                    <ul>
                        <li class="btn-toggle">
                            <a href="#menu" class="sb-toggle-left">&#9776;</a>
                        </li>
                        <li class="brand-uni">
                            <a href="~/">
                                <span></span></a>
                        </li>
                        <li>
                            <a href="~/" title="Phòng công tác sinh viên - Đại học bách khoa - Đại học Đà Nẵng">Trang chủ</a>
                            <ul>
                                <li>
                                    <a href="~/GioiThieu/ChucNangNhiemVu">Chức năng & nhiệm vụ </a>
                                </li>
                                <li>
                                    <a href="~/GioiThieu/PhanCongNhiemVu">Danh sách cán bộ viên chức</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Tin Tức</a>
                            <ul>
                                <li>
                                    <a href="~/ThongBao?page=1">Thông báo</a>
                                </li>
                                <li>
                                    <a href="~/HocBong?page=1">Học bổng</a>
                                </li>
                                <li>
                                    <a href="~/TuyenDung?page=1">Tuyển dụng</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/VanBanBieuMau?page=1">Văn bản - Biểu mẫu</a>
                        </li>
                        <li>
                            <a href="~/CongTac/DanhSachGVCN">Công tác GVCN</a>
                            <ul>
                                <li>
                                    <a href="~/CongTac/DanhSachGVCN">Danh sách giảng viên chủ nhiệm</a>
                                </li>
                                <li>
                                    <a href="~/CongTac/HoatDongGVCN">Hoạt động giảng viên chủ nhiệm</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Sinh viên
                            <ul>
                                <li>
                                    <a href="~/GiaoDucPhapLuat">Giáo dục pháp luật</a>
                                </li>
                                <li>
                                    <a href="~/YTeHocDuong">Y tế học đường</a>
                                </li>
                                <li>
                                    <a href="~/HTSV-QHDN">HTSV & QHDN</a>
                                </li>
                                <li>
                                    <a href="~/CuuSinhVien">Cựu sinh viên</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Đoàn thể
                            <ul>
                                <li>
                                    <a href="http://dut.udn.vn/index.php?option=com_content&view=article&id=1259&Itemid=269">Đảng ủy</a>
                                </li>
                                <li>
                                    <a href="http://congdoan.dut.udn.vn/">Văn phòng công đoàn</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/TuVan/DanhSachCauHoi">FAQs</a>
                            <ul>
                                <li>
                                    <a href="~/TuVan/DanhSachCauHoi">Câu hỏi thường gặp</a>
                                </li>
                                <li>
                                    <a href="~/TuVan/CauHoiThuongGap">Câu hỏi thường gặp</a>
                                </li>
                                <li>
                                    <a href="~/TuVan/DatCauHoi">Đặt câu hỏi</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div id="search">
                        <form action="~/TimKiem/KetQuaTimKiem" method="post" id="form1">
                            <input type="search" size="15" id="txtFind" name="txtFind" placeholder="Nhập nội dung tìm kiếm"/><span id="btnSearch"><a title="Tìm kiếm" onclick="callSubmit();"><i class="fa fa-search"></i></a></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Your navigation here. -->
</div>

<div class="sb-slidebar sb-left">
    <div class="sidebar-menu box-shadow">
        <div class="logo">
            <a href="~/admin/TrangChu">
                <img src="~/images/logo.jpg" style="padding-top: 5px;"/>
            </a>
        </div>
        <div class="list-block">
            <br/>
            <ul>
                <li>

                    <a href="~/" title="Phòng công tác sinh viên - Đại học bách khoa - Đại học Đà Nẵng" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">
                                <i class="fa fa-home"></i>Trang chủ
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse-intro" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">
                                <i class="fa fa-university"></i>Giới thiệu <i class="fa fa-fw fa-caret-down right"></i>
                            </div>
                        </div>
                    </a>
                    <ul id="collapse-intro" class="collapse">
                        <li class="inactive">
                            <div class="item-inner item-child inactive">
                                <a class="item-content item-link" href="~/GioiThieu/ChucNangNhiemVu">Chức năng & nhiệm vụ </a>
                            </div>
                        </li>
                        <li class="inactive">
                            <div class="item-inner item-child">
                                <a class="item-content item-link" href="~/GioiThieu/PhanCongNhiemVu">Danh sách cán bộ viên chức</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse-news" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">
                                <i class="fa fa-newspaper-o"></i>Tin Tức <i class="fa fa-fw fa-caret-down right"></i>
                            </div>
                        </div>
                    </a>
                    <ul id="collapse-news" class="collapse">
                        <li class="inactive">
                            <div class="item-inner item-child">
                                <a class="item-content item-link" href="~/ThongBao?page=1">Thông báo</a>
                            </div>
                        </li>
                        <li class="inactive">
                            <div class="item-inner item-child">
                                <a class="item-content item-link" href="~/HocBong?page=1">Học bổng</a>
                            </div>

                        </li>
                        <li class="inactive">
                            <div class="item-inner item-child">
                                <a class="item-content item-link" href="~/TuyenDung?page=1">Tuyển dụng</a>
                            </div>

                        </li>
                    </ul>
                </li>
                <li>
                    <a href="~/VanBanBieuMau?page=1" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">
                                <i class="fa fa-file-text-o"></i>Văn bản - Biểu mẫu
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse-lectures" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">
                                <i class="fa fa-user"></i>Công tác GVCN <i class="fa fa-fw fa-caret-down right"></i>
                            </div>
                        </div>
                    </a>
                    <ul id="collapse-lectures" class="collapse">
                        <li class="inactive">
                            <div class="item-inner item-child">
                                <a class="item-content item-link" href="~/CongTac/DanhSachGVCN">Danh sách GV chủ nhiệm</a>
                            </div>
                        </li>
                        <li class="inactive">
                            <div class="item-inner item-child">
                                <a class="item-content item-link" href="~/CongTac/HoatDongGVCN">Hoạt động GV chủ nhiệm</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse-infoStu" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">
                                <i class="fa fa-life-ring"></i>Sinh Viên <i class="fa fa-fw fa-caret-down right"></i>
                            </div>
                        </div>
                    </a>
                    <ul id="collapse-infoStu" class="collapse">
                        <li class="inactive">
                            <div class="item-inner item-child">
                                <a class="item-content item-link" href="~/GiaoDucPhapLuat">Giáo dục pháp luật</a>
                            </div>
                        </li>
                        <li class="inactive">
                            <div class="item-inner item-child">
                                <a class="item-content item-link" href="~/YTeHocDuong">Y tế học đường</a>
                            </div>
                        </li>
                        <li class="inactive">
                            <div class="item-inner item-child">
                                <a class="item-content item-link" href="~/HTSV-QHDN">HTSV & QHDN</a>
                            </div>
                        </li>
                        <li class="inactive">
                            <div class="item-inner item-child">
                                <a class="item-content item-link" href="~/CuuSinhVien">Cựu sinh viên</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse-univer" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">
                                <i class="fa fa-users"></i>Đoàn thể <i class="fa fa-fw fa-caret-down right"></i>
                            </div>
                        </div>
                    </a>
                    <ul id="collapse-univer" class="collapse">
                        <li class="inactive">
                            <div class="item-inner item-child">
                                <a class="item-content item-link" href="http://dut.udn.vn/index.php?option=com_content&view=article&id=1259&Itemid=269">
                                    Đảng ủy
                                </a>
                            </div>
                        </li>
                        <li class="inactive">
                            <div class="item-inner item-child">
                                <a class="item-content item-link" href="http://congdoan.dut.udn.vn/">
                                    Văn phòng công đoàn
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse-questions" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">
                                <i class="fa fa-question-circle"></i>FAQs <i class="fa fa-fw fa-caret-down right"></i>
                            </div>
                        </div>
                    </a>
                    <ul id="collapse-questions" class="collapse">
                        <li class="inactive">
                            <div class="item-inner item-child">
                                <a class="item-content item-link" href="~/TuVan/DanhSachCauHoi">Danh sách hỏi đáp</a>
                            </div>
                        </li>
                        <li class="inactive">
                            <div class="item-inner item-child">
                                <a class="item-content item-link" href="~/TuVan/CauHoiThuongGap">Câu hỏi thường gặp</a>
                            </div>
                        </li>
                        <li class="inactive">
                            <div class="item-inner item-child">
                                <a class="item-content item-link" href="~/TuVan/DatCauHoi">Đặt câu hỏi</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <p class="text-center">Copyright © 2015 - BKĐN.</p>
    </div>
    <!-- Your left Slidebar content. -->
</div>

<div class="clearfix"></div>

</body>


</html>