<div class="listbox">
    <div class="alumni-sidebar">
        <a href="~/CuuSinhVien">
            <div class="alumni-sidebar-btn btn-intro">
                <span><i class="fa fa-lg fa-users"></i> BAN ĐẠI DIỆN HỘI CỰU SINH VIÊN</span>
            </div>
        </a>
        <a href="~/CuuSinhVien/GuongMatCSV">
            <div class="alumni-sidebar-btn btn-star">
                <span><i class="fa fa-lg fa-star-o"></i> GƯƠNG MẶT CỰU SINH VIÊN</span>
            </div>
        </a>
        <a href="~/CuuSinhVien/BaiViet">
            <div class="alumni-sidebar-btn btn-news">
                <span><i class="fa fa-lg fa-file-text"></i> TIN TỨC - SỰ KIỆN</span>
            </div>
        </a>
    </div>
</div>