<div class="listbox">
    <div class="alumni-sidebar">
        <a href="~/VanBanBieuMau?type=VanBan">
            <div class="alumni-sidebar-btn btn-info">
                <span><i class="fa fa-lg fa-star-o"></i> VĂN BẢN</span>
            </div>
        </a>
        <a href="~/VanBanBieuMau?type=BieuMau">
            <div class="alumni-sidebar-btn btn-primary">
                <span><i class="fa fa-lg fa-file-text"></i> BIỂU MẪU</span>
            </div>
        </a>
    </div>
</div>