<div class="alert alert-info cssload-container" style="display:none;">
    <div class="cssload-square">
        <div class="cssload-square-part cssload-square-green"></div>
        <div class="cssload-square-part cssload-square-pink"></div>
        <div class="cssload-square-blend"></div>
    </div>
    <div>ĐANG XỬ LÝ DỮ LIỆU. VUI LÒNG CHỜ GIÂY LÁT!</div>
</div>
<div class="alert-box" style="display:none;"></div>