html, body {
    margin: 0;
    padding: 0;
}

body {
    -webkit-text-size-adjust: none;
    background-color: #fff;
    color: #666;
    font-family: Arial, Helvetica, Verdana;
    font-size: 14px;
    line-height: 22px;
    position: relative;
}

body * { text-shadow: none; }

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1;
    margin: 20px 0 10px 0;
}

h1, h2, h3 { font-size: 18px; }

h4, h5, h6 { font-size: 16px; }

p { margin: 0 0 10px 0; }

a, a:link, a:active, a:visited, a:hover {
    color: inherit;
    text-decoration: underline;
}

nav:not(.mm-menu) { display: none; }

.header,
.content,
.footer { text-align: center; }

.header,
.footer {
    -moz-box-sizing: border-box;
    background: #777;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;


    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding: 0 50px;
    width: 100%;
}

.header.fixed {
    left: 0;
    position: fixed;
    top: 0;
}

.footer.fixed {
    bottom: 0;
    left: 0;
    position: fixed;
}

.header a {
    background: center center no-repeat transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC);

    display: block;
    height: 40px;
    left: 10px;
    position: absolute;
    top: 0;
    width: 40px;
}

.content { padding: 150px 50px 50px 50px; }