@using WEBPCTSV.Models.bean
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    ViewBag.Title = "SecondLanguage";
}

<h3 class="header-paper">Ngoại ngữ</h3>
@{
    int stt = 1;
}
<div class="container-layoutmanager">
    <button class="btn btn-primary" data-toggle="modal" data-target="#modalSecondLanguageName" style="margin-bottom: 5px"><i class="fa fa-plus" aria-hidden="true"></i> Thêm ngoại ngữ</button>
    <div id="modalSecondLanguageName" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <form class="modal-content" action="/ManageCommonSystem/AddSecondLanguage" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Thêm ngoại ngữ</h4>
                </div>
                <div class="modal-body">
                    <input name="IdSecondLanguage" type="text" class="form-control" placeholder="id ngôn ngữ"/>
                    <br/>
                    <input name="SecondLanguageName" type="text" class="form-control" placeholder="Điền tên ngôn ngữ vào đây "/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" style="float: left"> Thêm </button>
                    <button type="button" class="btn btn-default" onclick="window.location.reload();" data-dismiss="modal">Đóng</button>
                </div>
            </form>

        </div>
    </div>


    <table class="table table-hover" style="width: 300px">
        <thead>
        <tr>
            <th>STT</th>
            <th>Ngoại ngữ</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (SecondLanguage secondLanguage in ViewBag.SecondLanguage)
        {
            <tr>
                <td>@stt</td>
                <td>@secondLanguage.SecondLanguageName</td>
                <td>
                    <label class="label label-success" data-toggle="modal" data-target="#modalSecondLanguage_@secondLanguage.IdSecondLanguage">Chi tiết</label>
                    <div id="modalSecondLanguage_@secondLanguage.IdSecondLanguage" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-sm">

                            <!-- Modal content-->
                            <form class="modal-content" action="/ManageCommonSystem/UpdateSecondLanguage?idSecondLanguage=@secondLanguage.IdSecondLanguage" method="post">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"> Thêm ngoại ngữ</h4>
                                </div>
                                <div class="modal-body">
                                    <input name="SecondLanguageName" type="text" class="form-control" placeholder="Điền tên ngôn ngữ vào đây " value="@secondLanguage.SecondLanguageName"/>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" style="float: left"> Lưu chỉnh sửa </button>
                                    <a href="/ManageCommonSystem/DeleteSecondLanguage?idSecondLanguage=@secondLanguage.IdSecondLanguage">
                                        <input type="button" class="btn btn-danger" style="float: left" value="Xóa"/>
                                    </a>
                                    <button type="button" class="btn btn-default" onclick="window.location.reload();" data-dismiss="modal">Đóng</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </td>
            </tr>
            stt++;
        }
        </tbody>
    </table>

</div>