@using WEBPCTSV.Models.bean
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    ViewBag.Title = "ImportStudent";
}
<link rel="stylesheet" href="~/css/circle.css">
<h3 class="header-paper">Nhập điểm sinh viên</h3>
<div align="center">
    <center>
        <div>
            <div>
                <select id="selectSemester" onchange="SelectSemester()" class="form-control" style="max-width: 260px">
                    <option value="">Chọn học kỳ</option>
                    @foreach (Semester semester in ViewBag.listSemester)
                    {
                        <option value="@semester.IdSemester">Học kỳ @semester.SemesterYear.SemesterYearName năm học @semester.Year.YearName</option>
                    }
                </select>
                <br />
            </div>
            <div id="importFile" class="btn btn-default image-preview-input " style="display: none; width: 200px">
                <span class="glyphicon glyphicon-open"></span>
                <span class="image-preview-input-title">Import file Excel</span>
                <input id="fileInput" type="file" accept="" onchange="UploadFile('fileInput', 'progressBar', 'progressBarNumber')" name="input-file-preview" /> <!-- rename it -->
            </div>

            <div id="progress" style="margin-top: 20px; display: none; width: 120px;">
                <div id="progressBar" class="c100 p0 green">
                    <span id="progressBarNumber">0%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
            </div>

            <div id="loaddingProgress" style="margin-top: 150px; display: none; width: 300px;">
                <div class="animation-3">
                    <div class="cube">
                        <div class="face face1"></div>
                        <div class="face face2"></div>
                        <div class="face face3"></div>
                        <div class="face face4"></div>
                        <div class="face face5"></div>
                        <div class="face face6"></div>
                    </div>
                </div>
                <strong id="noteProgress"> Đang upload! </strong>
            </div>

            <button id="buttonComplete" onclick="ResetPercentProgress()" style="display: none" class="btn btn-success"> Hoàn thành !</button>
            <br />
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#listErrorModal" onclick="RefreshListError()">
                Hiện thị các dòng bị lỗi <span class="badge " id="numberRowError1">0</span>
            </button>

            <!-- Modal -->
            <div id="listErrorModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="btn btn-warning" style="float: left" onclick="
                                    RefreshListError()">
                                <span class="badge " style="margin-right: 5px" id="numberRowError2">0</span>
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>

                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"> Danh sách các dòng bị lỗi </h4>
                        </div>
                        <div class="modal-body" id="listError">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <hr style="clear: both" />
            <strong>Chú ý:</strong> File excel nhập vào theo mẩu sau <a href="/File/DownloadExcel?filename=DanhSachDiemSV.xlsx">Dowload</a>
        </div>
    </center>
    
</div>

<script>

    function SelectSemester() {
        var select = document.getElementById("selectSemester");
        var selectvalue = select.options[select.selectedIndex].value;
        if (selectvalue != 0) {
            document.getElementById("importFile").style.display = "block";
        } else {
            document.getElementById("importFile").style.display = "hidden";
        }

    }

    function RefreshListError() {
        $.ajax({
            url: "/StudentShip/GetListErrorImportScote",
            type: "post",
            success: function (result) {
                $("#listError").html(result);
            }
        });
        $.ajax({
            url: "/StudentShip/GetCountListErrorImportScote",
            type: "post",
            success: function (result) {
                $("#numberRowError1").html(result);
                $("#numberRowError2").html(result);
            }
        });
    }

    

    function ResetPercentProgress() {
        $.ajax({
            url: "/StudentShip/ResetPercentProgress",
            type: "post",
            success: function(result) {
                location.reload();
            }
        });
    }

    var oldclass = "p0";

    function UploadFile(elementfile, proccessBar, progressBarNumber) {
        document.getElementById("selectSemester").style.display = "none";
        document.getElementById("importFile").style.display = "none";
        document.getElementById("progress").style.display = "block";
        document.getElementById("loaddingProgress").style.display = "block";

        var select = document.getElementById("selectSemester");
        var selectvalue = select.options[select.selectedIndex].value;


        var percentValue = "0%";
        var fileInput = document.getElementById(elementfile);
        var proccess = document.getElementById(proccessBar);
        proccess.classList.remove("green");
        var proccessNumber = document.getElementById(progressBarNumber);
        var formdata = new FormData();
        for (i = 0; i < fileInput.files.length; i++) {
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/File/UploadExcelScoteStudent?idSemester=' + selectvalue);
        xhr.upload.onprogress = function(e) {
            if (e.lengthComputable) {
                var percentValue = parseInt(e.loaded / e.total * 100);
                //proccess.innerHTML = percentValue;
                proccessNumber.innerHTML = percentValue + "%";
                proccess.classList.remove(oldclass);
                oldclass = "p" + percentValue;

                proccess.classList.add(oldclass);
                if (percentValue == 100) {
                    proccess.classList.add("green");
                }
                //bar.setAttribute('style', 'width: ' + percentValue);
            }
        };
        xhr.onload = function() {
            if (this.status == 200) {
            };
        };
        xhr.send(formdata);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {

            }
        }
        return false;
    }


    if (typeof (Worker) !== "undefined") {
        // Trình duyệt hỗ trợ Web worker!
        // Viết tiếp các mã javascript
        var worker = new Worker("/js/ImportScoteStudentWebworker.js");
        worker.onmessage = function(event) {
            if (event.data == 100) {
                document.getElementById("buttonComplete").style.display = "block";
                document.getElementById("progress").style.display = "none";
                document.getElementById("loaddingProgress").style.display = "none";
            } else if (event.data != 0) {
                document.getElementById("importFile").style.display = "none";
                document.getElementById("selectSemester").style.display = "none";
                document.getElementById("progress").style.display = "block";
                document.getElementById("loaddingProgress").style.display = "block";
                document.getElementById("noteProgress").innerHTML = "Đang xữ lý !";
                document.getElementById("progressBarNumber").innerHTML = event.data + "%";
                document.getElementById("progressBar").classList.remove(oldclass);
                oldclass = "p" + event.data;
                document.getElementById("progressBar").classList.add(oldclass);
            }
        };
    } else {
        // Rất tiếc! Trình duyệt không hỗ trợ Web Worker..
    }
</script>