@using WEBPCTSV.Models.bean
@using WEBPCTSV.Models.Support
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    ViewBag.Title = "Kết quả học tập  ";
}
@{
    List<LearningOutCome> listLearningOutCome = ViewBag.listLearningOutCome;
    <h3 class="header-paper">Kết quả học tập .</h3>
    <div ng-controller="ScoteStudent">
        <a href="/StudentShip/StudentShipFacultyCLC?idSemester=@ViewBag.Semester" style="float: left; margin-left: 10px">
            <strong><i class="fa fa-file-o aria-hidden=" true"></i> Xét học bổng khuyến khích học tập</strong>
        </a>

        <form action="/StudentShip/ListScoteStudent?idSemester=@ViewBag.Semester&page=1" method="post">
            <div class="input-group" style="float: right; margin-right: 20px; padding-bottom: 5px; width: 400px;">
                <input name="search" type="text" class="form-control">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Tìm kiếm</button>
                </div>
            </div>
        </form>
        <hr style="clear: both"/>

        <div class="container-layoutmanager">
            @Html.Partial("_ListScoteStudentShip", listLearningOutCome)
            @{
                PageNumber pageNumber = ViewBag.pageNumber;
            }
            @Html.Partial("~/Views/PartialShared/_PageNumber.cshtml", pageNumber)
        </div>
    </div>
}