@using WEBPCTSV.Models.bean;
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    ViewBag.Title = "Class";
}

<h3 class="header-paper">Chọn học kì</h3>

<div>


    <form class="form-horizontal" action="/StudentShip/ListScoteStudent?page=1" method="get">
        <div class="form-group">
            <label class="control-label col-lg-3" for="selectSemester">Học kì:</label>
            <div class="col-lg-4">
                <select id="idSemester" name="idSemester" class="form-control">
                    <option value="">Chọn học kỳ </option>
                    @foreach (WEBPCTSV.Models.bean.Semester semester in ViewBag.listSemester)
                    {
                        <option value="@semester.IdSemester">Học kỳ @semester.SemesterYear.SemesterYearName năm học @semester.Year.YearName</option>
                    }
                </select>
                <input type="hidden" name="page" value="1"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3" for="email"></label>
            <div class="col-lg-4">
                <button type="submit" class="btn btn-success">Xem kết quả học tập</button>
            </div>
        </div>
    </form>
</div>

