@model List<WEBPCTSV.Models.Support.ErrorImportExcel>

@foreach (var errorImportExcel in Model)
{
    <div style="text-align: left">
        <div>
                <strong style="float: left"> row : @errorImportExcel.Row</strong>
            @if (errorImportExcel.NumberStudent != null)
            {
                <span style="float: right"> Mã số sinh viên : @errorImportExcel.NumberStudent</span>
            }
        </div>

            @if (errorImportExcel.ErrorName != null)
            {
                <p style="clear: both; color: #696969">
                    Lỗi: @errorImportExcel.ErrorName
                </p>
            }




                
        <hr/>
    </div>  
}