@model WEBPCTSV.Models.Support.PageNumber

@{
    WEBPCTSV.Models.Support.PageNumber pageNumber = Model;
    int endPage = pageNumber.PageNumberTotal;
    int curentPage = pageNumber.PageNumberCurrent;
    int beginPage = 1;
    int numberPageDisplay = 20;
    if (endPage > numberPageDisplay)
    {
        if ((endPage - curentPage) < numberPageDisplay / 2)
        {
            beginPage = endPage - numberPageDisplay;
        }
        else if (curentPage - beginPage < numberPageDisplay / 2)
        {
            endPage = beginPage + numberPageDisplay;
        }
        else
        {
            beginPage = curentPage - numberPageDisplay / 2;
            endPage = curentPage + numberPageDisplay / 2;
        }

    }
}
<ul class="pagination">
    @for (int i = beginPage; i <= endPage; i++)
    {
        if (i == curentPage)
        {
            <li class="active"><a href="@pageNumber.Link@i">@i</a></li>
        }
        else
        {
            <li><a href="@pageNumber.Link@i">@i</a></li>
        }

    }
</ul>

