@using WEBPCTSV.Models.bean;

@{
    ViewBag.Title = "Ban đại diện hội cựu sinh viên trường Đại học Bách Khoa - Đại Học Đà Nẵng";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}

<div id="maincontent">
    <div id="maincontent-section1">
        <div class="maincontent-main listbox listbox-main">
            <ol class="breadcrumb box-shadow">
                <li><a href="~/">Trang chủ</a></li>
                <li><a href="~/CuuSinhVien">Cựu sinh viên</a></li>
                <li class="active">Cựu sinh viên ĐH Bách Khoa Đà Nẵng </li>
            </ol>
            <div class="listbox-content">
                <div class="resource-content">
                    @(Html.Action("Resource", "Resource", new { acronym = "GTCSV" }))
                </div>
            </div>
        </div>

        <div class="maincontent-sidebar">
            @Html.Partial("~/Views/PartialViews/PartialSidebarAlumni.cshtml")
            @Html.Action("TopNewsAlumni", "News", new { count = 5 })
        </div>
        <div class="xoa"></div>
    </div>
</div>
