
@{
    Layout = null;
    ViewBag.Title = "NotAccess";
}
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>
    <center>
        <h3>Tài khoản của bạn không đủ quyền hạng truy cập vào trang này!</h3>
    </center>
    

</body>
</html>



