/*Create by somedayiws*/

/* Section style general */
label.error { color: #FF0000; }

input.error {
    border: 2px solid #FF0000;
    border-style: ridge;
    color: #0000FF;
}

#table-file tr { border: 1px solid #ccc !important; }

#table-file tr td { padding: 3px 8px !important; }

.color-white { color: white; }

body {
    background: #f8f8f8;
    font-size: 14px;
    font-weight: normal;
}

body.login-bg {
    background: #282828;
    color: #fff !important;
}

a:active, a:hover, a:focus, a { outline: none; }

body.login-bg {
    background: #282828;
    color: #fff !important;
}

.col-md-4 {
    background: #333;
    border-radius: 5px;
    overflow: hidden;
}

.checkbox input[type=checkbox] { margin-left: 0px; }

.col-md-4 {
    background: #333;
    border-radius: 5px;
    overflow: hidden;
}

/*End login page*/

.checkbox input[type=checkbox] { margin-left: 0px; }

.row-custom {
    margin-right: 0px !important;
    position: relative;
}

.footer {
    background-color: #213c94;
    bottom: 0;
    color: #f1f1f1;
    display: block;
    line-height: 50px;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
}

.footer p {
    font-size: 14px;
    line-height: 50px;
    margin: 0 auto;
    padding: 0 !important;
}

/*Sign in style*/

.login-title {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 0.2em;
    text-align: center;
}

.form-signin {
    background: #278234;
    margin: 0 auto 0 0;
    min-height: 30.5em;
    padding: 20px;
    width: 100%;
}

.form-signin .form-signin-heading,
.form-signin .checkbox { margin-bottom: 10px; }

.form-signin .checkbox { font-weight: normal; }

.form-signin .form-control {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    height: auto;
    padding: 5px;
    position: relative;
}

.form-signin .form-control:focus { z-index: 2; }

.form-signin input[type="email"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.input-group a {
    color: #f1f1f1;
    font-style: italic;
}

.input-group a:hover, .input-group a:focus, .input-group a:active { color: #fff; }

.fa-lock { padding-right: 2px; }

.top-10 { margin-top: 10px; }

.login-line {
    /*border:1px solid #113D17;*/
    opacity: 0.4;
}

.form-signin .checkbox input[type=checkbox] { margin-left: 0px; }

.checkbox p a { color: #8a6d3b; }

.checkbox p a:hover { text-decoration: none; }

.box-shadow { box-shadow: 0 8px 12px rgba(0, 0, 0, 0.075); }


.btn-white {
    background: #fff;
    color: #c1c1c1;
}

.btn-white:hover, .btn-white:focus { background: #f1f1f1; }

.sidebar-menu {
    /*background:#278234;*/
    background-color: #282828;
    display: block;
    height: 100vh;
    left: 0;
    margin-left: -8px;
    /*height: 100%;*/
    min-height: 600px;
    position: fixed;
    top: 0;
    width: 250px;
    z-index: 9999;
}

.list-block {
    font-size: 16px;
    padding-left: 10px;
}

.list-block .item-content { padding: 0; }

.item-title i.fa {
    margin: 0 10px;
    text-align: center;
    width: 30px;
}

.item-child { padding: 0px 0px 0px 20px; }

.child-active { background: white; }

.child-active a { color: #333 !important; }

.child-active:hover a { color: white !important; }

.inactive { background: #222; }

.list-block ul {
    background: none;
    border: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-block ul > li a {
    border-bottom: 1px solid #333;
    display: block;
    line-height: 50px;
    overflow: hidden;
    padding-left: 15px;
    transition: all 0.5s ease;
}

.list-block ul > li a:hover, .list-block ul > li a:active, .list-block ul > li a:focus, .list-block ul > li.active { background-color: #5270d0; }

.list-block .item-link { color: #fff; }

.list-block .item-link:hover, .list-block .item-link:focus { text-decoration: none; }

ul.submenu { padding-left: 20px !important; }

ul.submenu > li > .item-link {
    display: block;
    line-height: 70px;
    padding-left: 15px;
}

.logo {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.logo > img {
    margin: 0 auto;
    width: 160px;
}


/*Cotent wrapper style*/

#wrapper-content {
    display: block;
    float: left;
    padding-left: 250px;
    padding-right: 0;
    position: relative;
}

.header-content {
    background: #5270d0;
    border-bottom: #213c94 1px solid;
    border-left: #292f75 1px solid;
    color: #fff;
    line-height: 50px;
    padding: 0 20px;
}

.header-content a {
    color: #fff;
    display: inline-block;
    line-height: 50px;
}

.header-content .title {
    color: #fff;
    display: inline-block;
    line-height: 50px;
    margin: 0 !important;
}

.main-content {
    display: block;
    float: left;
    padding: 0px 20px 50px 20px;
    width: 100%;
}

/*custom form*/

.form-control:focus { border-color: rgba(148, 173, 255, 0.95) !important; }

.table thead {
    background: #666;
    color: #f1f1f1;
}

.label a { color: #fff !important; }


/*Trang chủ style*/

.panel-success > .panel-heading {
    background-color: rgba(164, 185, 255, 0.95) !important;
    border-color: rgba(148, 173, 255, 0.95) !important;
    color: rgba(30, 57, 144, 0.95) !important;
}

.panel-success {
    background: #f6f6f6 !important;
    border-color: rgba(148, 173, 255, 0.95) !important;
}

/*End Trang chủ*/

/*Toggle button style*/

.sb-toggle-left {
    background: #3e5fcc;
    margin: -1px 10px 0px -4px;
    padding: 2px 20px;
}

.sb-toggle-left:hover {
    background: #555;
    color: white;
    text-decoration: none;
}

.sb-toggle-left:focus {
    background: #5270d0;
    color: white;
    text-decoration: none;
}

.list-block {
    font-size: 16px;
    padding-left: 10px;
}

.sidebar-menu {
    min-height: 0px;
    overflow: auto;
    width: 270px;
}

.footer { position: relative; }

.sb-slidebar { width: 240px !important; }

/*End toggle button style*/

/*Desktop Screen Style*/

@media all and (min-width: 1025px) {
    .header-content .title::after { content: "HỆ THỐNG THÔNG TIN SINH VIÊN"; }

    .sb-toggle-left { display: none !important; }

    #sb-site { left: 0px !important; }

    .sb-site-container, .sb-slide, .sb-slidebar {
        display: block !important;
        overflow: hidden;
        width: 240px !important;
        z-index: 9999 !important;
    }

    #wrapper-content { padding-left: 250px; }
}

/*End Desktop Screen Style*/

/*Tablet, mobile Screen Style*/

@media all and (max-width: 640px) {
    .account-info { text-align: right; }

    .header-content .title::after { content: ""; }
}

@media all and (max-width: 1024px) {
    .header-content .title {
        font-size: 1.3em;
        text-align: center;
    }

    .header-content { overflow: hidden; }

    #wrapper-content { padding-left: 0px; }
}

/*End tablet, mobile Screen Style*/





/*Style loading*/

.cssload-container {
    font-size: 16px;
    text-align: center;
}

.cssload-square {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    height: 19px;
    margin: 18px auto;
    transform: rotate(-45deg);
    width: 19px;
}

.cssload-square-part {
    -moz-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    -ms-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    -o-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    -webkit-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    height: 19px;
    position: absolute;
    width: 19px;
    z-index: 1;
}

.cssload-square-green {
    -moz-animation-direction: alternate-reverse;
    -ms-animation-direction: alternate-reverse;
    -o-animation-direction: alternate-reverse;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
    background: rgb(84, 250, 212);
    bottom: 0;
    right: 0;
}

.cssload-square-pink {
    background: rgb(233, 111, 146);
    left: 0;
    top: 0;
}

.cssload-square-blend {
    -moz-animation: blend-anim 0.92s ease-in infinite;
    -ms-animation: blend-anim 0.92s ease-in infinite;
    -o-animation: blend-anim 0.92s ease-in infinite;
    -webkit-animation: blend-anim 0.92s ease-in infinite;
    animation: blend-anim 0.92s ease-in infinite;
    background: rgb(117, 81, 125);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}





@keyframes blend-anim {
    0% {
        animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        transform: scale(0.01, 0.01) rotateY(0);
    }

    50% {
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
        transform: scale(1, 1) rotateY(0);
    }

    100% { transform: scale(0.01, 0.01) rotateY(0); }
}

@-o-keyframes blend-anim {
    0% {
        -o-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        -o-transform: scale(0.01, 0.01) rotateY(0);
    }

    50% {
        -o-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
        -o-transform: scale(1, 1) rotateY(0);
    }

    100% { -o-transform: scale(0.01, 0.01) rotateY(0); }
}

@-ms-keyframes blend-anim {
    0% {
        -ms-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        -ms-transform: scale(0.01, 0.01) rotateY(0);
    }

    50% {
        -ms-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
        -ms-transform: scale(1, 1) rotateY(0);
    }

    100% { -ms-transform: scale(0.01, 0.01) rotateY(0); }
}

@-webkit-keyframes blend-anim {
    0% {
        -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        -webkit-transform: scale(0.01, 0.01) rotateY(0);
    }

    50% {
        -webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
        -webkit-transform: scale(1, 1) rotateY(0);
    }

    100% { -webkit-transform: scale(0.01, 0.01) rotateY(0); }
}

@-moz-keyframes blend-anim {
    0% {
        -moz-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        -moz-transform: scale(0.01, 0.01) rotateY(0);
    }

    50% {
        -moz-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
        -moz-transform: scale(1, 1) rotateY(0);
    }

    100% { -moz-transform: scale(0.01, 0.01) rotateY(0); }
}

@keyframes cssload-part-anim {
    0% { transform: translate3d(-10px, -10px, 0); }

    100% { transform: translate3d(10px, 10px, 0); }
}

@-o-keyframes cssload-part-anim {
    0% { -o-transform: translate3d(-10px, -10px, 0); }

    100% { -o-transform: translate3d(10px, 10px, 0); }
}

@-ms-keyframes cssload-part-anim {
    0% { -ms-transform: translate3d(-10px, -10px, 0); }

    100% { -ms-transform: translate3d(10px, 10px, 0); }
}

@-webkit-keyframes cssload-part-anim {
    0% { -webkit-transform: translate3d(-10px, -10px, 0); }

    100% { -webkit-transform: translate3d(10px, 10px, 0); }
}

@-moz-keyframes cssload-part-anim {
    0% { -moz-transform: translate3d(-10px, -10px, 0); }

    100% { -moz-transform: translate3d(10px, 10px, 0); }
}