/*@media screen {
    div.divFooter {
        display: none;
    }
}*/

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .divFooter {
        bottom: 0;
        clear: both;
        margin: 0px;
        padding: 0px;
        position: fixed;
    }
}