/*@media screen {
    div.divFooter {
        display: none;
    }
}*/

@media print {
    body{
        margin:0;
        padding:0;
    }
    .divFooter {
        clear:both;
        position:fixed;
        bottom:0;
        margin:0px;
        padding:0px;
    }
}
