/*************************************
 * generic neo slide home elements
 ************************************/
.neoslideshow img {
    height: 450px;
    position: absolute;
    width: 1000px;
    z-index: 0;
}

.neoslideshow {
    background: white;
    border-top: 1px dashed #ccc;
    height: 450px;
    padding: 2px 0px 0px 0px;
    width: 1000px;
    width: 1000px;
}


.als-container {
    background: white;
    margin: 0px auto;
    position: relative;
    width: 100%;
    z-index: 0;
}

.als-viewport {
    margin: 0px auto;
    overflow: hidden;
    padding: 0px 20px;
    position: relative;
}

.als-wrapper {
    list-style: none;
    position: relative;
}

.als-next, .als-prev {
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    clear: both;
    cursor: pointer;
    height: 100%;
    margin-left: -15px;
    margin-right: -5px;
    opacity: 0.7;
    padding: 0px 5px;
    position: absolute;
    top: 0%;
    width: 30px;
    z-index: 1;
}

.als-prev img { padding: 75px 0px 0px 2px; }

.als-next img { padding: 75px 0px 0px 10px; }


#demo1 .als-item {
    background: white;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    float: left;
    height: 195px;
    margin: 5px 10px;
    min-height: 100px;
    min-width: 145px;
    padding: 0px;
    position: relative;
    width: 175px;
}

#demo1 .als-item img {
    display: block;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
}

.slider-img-group {
    border-radius: 3px;
    height: 120px;
    overflow: hidden;
    width: 175px;
}

#demo1 .als-prev { left: 5px; }


.als-next:hover, .als-prev:hover {
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    opacity: 1;
}



#demo1 .als-next { right: 5px; }

.als-item #title { font-weight: bold; }

.als-item #descript { color: #555; }




#slidetuyendung .als-container { background: white; }

#slidetuyendung .als-item img {
    height: 170px;
    position: relative;
    width: 240px;
}

#slidetuyendung .als-item { width: 240px; }

#slidetuyendung .als-item #title {
    bottom: 0px;
    line-height: 195%;
    position: absolute;
    width: 240px;
}

#slidetuyendung .als-item #title span {
    background: url('../images/bg_opacity.png');
    font-weight: bold;
    padding: 5px 5px;
}