/*Create by somedayiws*/
/* Các CSS này dành cho toàn bộ website và desktop */
/*RESET SETTING*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, font,
strong, ol, ul, li {
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background: url(images/bg.jpg) top left;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

ol, ul { list-style: none; }

a { text-decoration: none; }

a { color: rgba(79, 110, 209, 1); }

a:hover { color: rgba(255, 82, 26, 1); }

.thongbao #tcontent p a {
    background: rgba(79, 110, 209, 1);
    border-radius: 3px;
    color: white;
    float: right;
    padding: 2px 10px;
}

.thongbao:hover {
    background: #f1f1f1;
    border: 1px solid #eee;
}


.tbmota a {
    background: rgb(239, 73, 19);
    border-radius: 5px;
    color: white;
    padding: 3px;
}

.tbmota a:hover { }

.clear { clear: both; }

/*END RESET*/

body {
    background: #f3f3f3;
    overflow-x: hidden;
}

/*Subscribe style*/

.subscribeBtn {
    background: #f64949;
    border: 1px solid transparent;
    border-color: #4cae4c;
    color: white;
    font-size: 0.9em;
    padding: 5px 20px;
}

.subscribeBtn:hover {
    background: #e64949;
    cursor: pointer;
}

#pInputSubscribe input { width: 99%; }

#pSubscribe {
    margin: 10px 0px 5px 0px;
    text-align: center;
}

.subscribeBtn i { margin-right: 5px; }

/*End subscribe*/

/*Header setting*/

#headercontent {
    margin: 0px auto;
    width: 100%;
}

#header {
    -moz-box-shadow: 0px 0px 15px 0px #4a4a4a;
    -webkit-box-shadow: 0px 0px 15px 0px #4a4a4a;
    box-shadow: 0px 0px 15px 0px #4a4a4a;
}

#top_header {
    background: white;
    margin: 0px auto;
    overflow: hidden;
    width: 100%;
}


#top_header_inner {
    margin: 0px auto;
    overflow: hidden;
    width: 1000px;
}

/*End header setting*/


/* Logo setting */

#headercontent #top_header #logo {
    float: left;
    overflow: hidden;
    width: 50%;
}

#headercontent #top_header #logo img {
    float: left;
    height: 80px;
    margin: 5px 10px;
    overflow: hidden;
}

#headercontent #nav #search { float: left; }

#nav li { margin: 2px; }

#nav .socialMediaLinks a { color: #333 !important; }

#nav {
    padding: 5px 0px;
    position: relative;
    top: 0px;
}

.facebook {
    background: #3b5998;
    padding: 15px;
}

.twitter {
    background: #44ccf6;
    padding: 15px 10px;
}

.googleplus {
    background: #d13f2d;
    overflow: hidden;
    padding: 15px 0px 15px 20px;
}

#headercontent #nav input { margin-left: 78%; }

/* End logo setting */


/* Top navigation setting */


#headercontent #mainnav #navigation li {
    display: inline;
    margin-top: -2px;
}


/* Section style for fixed navigation */

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}



/* End top navigation setting */

/* Bottom navigation setting */

#headercontent #nav #bottomnav {
    margin-bottom: 5px;
    margin-left: 43%;
}

#headercontent #nav #bottomnav li {
    display: inline;
    margin: 5px;
}

/* End bottom navigation setting */


/* Thong bao setting */

table td { vertical-align: top; }

#thongbao {
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0px 5px;
    /*border: 2px solid ghostwhite;*/
}


.news_title {
    font-size: 1.2em;
    font-weight: bold;
}

.allnews {
    color: #0077fd;
    font-size: 0.9em;
}


/*End Thong bao setting */

/* Hoc bong setting */

.thongbao {
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}

.thongbao #tcontent { width: 82%; }

/*End hoc bong setting */

/*Tuyen dung setting */

/*End tuyen dung setting */

/* Hoat dong setting */

/*End hoat dong setting */

#tuyendung {
    float: left;
    margin-left: 17px;
    width: 48%;
}



#hoatdong {
    float: left;
    margin-left: 5px;
    width: 48%;
}

#vanban {
    float: left;
    margin-left: 17px;
    width: 48%;
}

/* List config*/

#content_h {
    border: 1px solid #ddd;
    overflow: hidden;
}

#wrapper1 { overflow: hidden; }

.main_item {
    border-bottom: 1px solid #ddd;
    padding: 20px 8px;
}

.main_item .img-group-main {
    height: 200px;
    margin-bottom: 10px;
}

.main_item p span a {
    float: right;
    font-weight: bold;
}

.main_item img {
    -moz-box-shadow: 0px 2px 4px 1px #bbb;
    -webkit-box-shadow: 0px 2px 4px 1px #bbb;
    box-shadow: 0px 2px 4px 1px #bbb;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.main_item #date {
    color: #777;
    font-size: 0.9em;
}

.main_item #title {
    border-bottom: none;
    font-weight: bold;
}

.main_item #content span {
    color: red;
    font-weight: bold;
}

.main_item #content { padding: 0px; }

#content_h #list_item {
    min-height: 270px;
    padding-top: 15px;
}

.item_tintuc_list {
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
    padding: 5px 10px;
}

.item_tintuc_list #date {
    color: #777;
    font-size: 0.9em;
}

.item_tintuc_list img {
    float: left;
    margin: 5px;
    width: 60px;
}

.item_tintuc_list:last-child { border-bottom: none; }

/* End list config*/



#headercontent { }

#headercontent #topnav {
    background: #444;
    color: white;
}

#headercontent #nav #search { float: left; }

#headercontent #nav input {
    margin-right: 400px;
    margin-top: 40px;
}

#mainnav {
    background: rgba(79, 110, 209, .95);
    color: white;
    width: 100%;
    z-index: 1000;
}

#navigation {
    color: white;
    margin: 0px auto;
    padding: 2px 0px;
    width: 1000px;
}

#wrapper-slide {
    background: #d7d7d7;
    height: 393px;
    position: relative;
    top: 130px;
}

#slide {
    margin: 0px auto;
    width: 1000px;
}

#mainnav { height: 38px; }

#wrapper {
    -moz-box-shadow: 0px 2px 5px 0px #ddd;
    -webkit-box-shadow: 0px 2px 5px 0px #ddd;
    background: white;
    box-shadow: 0px 2px 5px 0px #ddd;
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
}

#primary { overflow: hidden; }

#mainContent {
    float: left;
    padding-left: 2px;
    padding-right: 0px;
    width: 70%;
}








#sidebar {
    float: left;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 10px;
    width: 28%;
}



#sidebar #sukien { background: white; }

.sidebar_item .resource-content {
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
}

.sidebar_item .resource-content img {
    height: 100% !important;
    width: 100% !important;
}

.sidebar_item div#title {
    background: #eee;
    background: #f64949;
    border-radius: 3px 3px 0px 0px;
    padding: 0px 10px;
    text-align: center;
}

.sidebar_item div#title span {
    color: white;
    width: 100%;
}

.sidebar_item:last-child div#title {
    background: #eee;
    /*background: rgba(74,168,255,1);*/
    background: rgba(79, 110, 209, .95);
    border-radius: 3px 3px 0px 0px;
    padding: 2px 5px;
}

.sidebar_item #listitem { border: 1px solid #ddd; }

.sidebar_item #listitem #contentListItem { padding: 5px; }

.item_sukien #time {
    background: #103976;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    margin: 10px 10px 5px 0px;
    padding: 0px 10px;
    text-align: center;
}

.item_sukien #time p { margin-top: -5px; }

.item_sukien #title { font-weight: bold; }

.item_sukien #date {
    color: #777;
    font-size: 0.9em;
}

.sidebar_item { margin: 5px 5px 20px 5px; }

.sidebar_item #listitem {
    border: 1px solid #ccc;
    padding: 5px;
}

.sidebar_item #title span {
    color: #555;
    font-size: 1.2em;
    font-weight: bold;
}

.sidebar_item #listitem #menu-lien-ket { padding: 5px; }

#sidebar #sukien { background: white; }

.sidebar_item #listitem {
    border: 1px solid #ccc;
    padding: 0px;
}

.alumni-sidebar-btn.btn-intro { background: #57B946; }

.alumni-sidebar-btn.btn-star { background: #F55D5D; }

.alumni-sidebar-btn.btn-news { background: #3B3F4E; }

.alumni-sidebar-btn {
    border-radius: 3px;
    color: white;
    font-weight: bold;
    margin: 5px 0px;
    padding: 12px;
}

.alumni-sidebar-btn { margin: 0px 0px 10px 0px; }

#header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

#wrapper {
    border-radius: 2px;
    margin: 0px auto;
    padding-top: 10px;
    position: relative;
    top: 135px;
    width: 1000px;
    z-index: 0;
}

/* footer setting */

#wrapper_footer {
    background: #eee;
    margin-top: 160px;
    overflow: hidden;
}

#footer {
    margin: 0px auto;
    padding: 15px 0px;
    width: 1000px;
}

.col-md-4 h3 {
    border-bottom: 1px dotted #777;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.col-md-4 { padding-top: 5px; }

#footer #link { overflow: hidden; }

.col-child {
    float: left;
    padding: 8px;
    width: 25%;
}

.footer-contact {
    float: left;
    padding: 8px 0px 8px 8px;
    width: 46%;
}


.col-child h3 {
    border-bottom: 1px dotted #777;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.col-child a { color: #333; }

.col-child ul li { margin: 5px 0px; }

#bot-footer #info {
    margin: 0px auto;
    padding: 10px 10px;
    width: 1000px;
}

#bot-footer {
    background: #dfdfdf;
    border-top: 1px solid #dedede;
    color: #333;
    overflow: hidden;
    padding: 3px;
}

#bot-footer #info span { padding-bottom: 7px; }

#bot-footer #info #site a {
    color: #333;
    float: left;
}

#bot-footer #info #design { float: right; }

#footer #link {
    color: #333;
    overflow: hidden;
    width: 100%;
}

#bot-footer {
    background: #dedede;
    border-top: 1px solid #dfdfdf;
    color: #333;
    overflow: hidden;
}

#bot-footer #info {
    margin: 0px auto;
    width: 1000px;
}

/* End footer setting */











#mainnav { border-bottom: 2px solid white; }

#navigation li:hover {
    background: white;
    color: black;
    cursor: pointer;
}




#navigation ul li:hover a { color: black; }

#navigation li {
    float: left;
    padding: 10px;
}



#navigation #search {
    background: white;
    border-radius: 10px;
    float: right;
    position: relative;
    right: 10px;
    top: 6px;
}

#search #btnSearch i {
    border-radius: 0px 10px 10px 0px;
    margin-left: 5px;
    padding: 5px 8px;
    transition: all 0.5s ease;
}

#search #btnSearch i:hover {
    background: #ccc;
    border-radius: 0px 10px 10px 0px;
    margin-left: 5px;
    padding: 5px 8px;
    transition: all 0.5s ease;
}

#search #btnSearch a { color: #333; }

#form1 { background: transparent; }

#txtFind {
    background: transparent;
    border: 1px solid transparent;
    color: #333;
    width: 170px;
}

#nav {
    float: right;
    overflow: hidden;
}

#nav li {
    color: #333;
    display: inline;
    font-weight: bold;
    margin: 8px;
}

#nav li:hover {
    color: rgba(74, 168, 255, 1);
    cursor: pointer;
}


#navigation ul li ul a { color: #444; }

#navigation ul li a { color: white; }

#navigation ul li {
    position: relative;
    transition: all 0.5s ease;
}

#navigation li:hover { transition: all 0.7s ease; }


#navigation ul li ul {
    -moz-box-shadow: 0px 2px 5px 0px #ccc;
    -webkit-box-shadow: 0px 2px 5px 0px #ccc;
    background: white;
    box-shadow: 0px 2px 10px 0px #ccc;
    color: #444;
    left: 0;
    min-width: 220px;
    padding-top: 2px;
    position: absolute;
    top: 38px;
    visibility: hidden;
}

#navigation ul li ul li {
    border-bottom: 1px solid #eee;
    display: block;
    padding: 5px 10px;
    transition: none;
    width: 91%;
}

#navigation ul li:hover ul { visibility: visible; }

#navigation ul li ul li:hover a { color: white; }

#navigation ul li ul li:hover {
    /*background: rgba(74,168,255,1);*/
    background: rgba(79, 110, 209, .95);
    color: white;
}



::-webkit-input-placeholder {
    color: white;
    text-overflow: ellipsis;
}

:-moz-placeholder {
    color: white !important;
    text-overflow: ellipsis;
}

::-moz-placeholder {
    color: white !important;
    text-overflow: ellipsis;
}

/* for the future */

:-ms-input-placeholder {
    color: white !important;
    text-overflow: ellipsis;
}

.news_title {
    /*background: rgba(74,168,255,1);*/
    background: rgba(79, 110, 209, .95);
    color: white;
    left: 40px;
    padding: 2px 20px 8px 20px;
    position: relative;
    top: 8px;
}

.news_title i {
    margin-left: -10px;
    margin-right: 10px;
}

.news_title #imgleft {
    left: -33px;
    position: relative;
}

.news_title #showall {
    /*background: rgba(74,168,255,1);*/
    background: transparent;
    cursor: pointer;
    left: 18px;
    padding: 10px 6px;
    position: relative;
    top: 11px;
}

.news_title #showall:hover {
    background: #555;
    cursor: pointer;
}

.news_title span {
    left: 0px;
    position: relative;
    top: 3px;
}

#thongbao #listitem {
    border: 1px solid #ddd;
    overflow: hidden;
    padding-top: 10px;
}




.item_tintuc #date {
    color: #777;
    font-size: 0.9em;
}

.item_tintuc #title {
    border-bottom: none;
    font-weight: bold;
}

#thongbao #listitem .item_tintuc #title { border-bottom: 1px dotted #ccc; }

#thongbao #listitem { }

/*Thông báo*/

#thongbao #title .news_title {
    background: #f64949;
    color: white;
    left: 40px;
    padding: 2px 20px 8px 20px;
    position: relative;
    top: 8px;
}

#thongbao #title .news_title #showall {
    background: #f64949;
    cursor: pointer;
    left: 18px;
    padding: 10px 6px;
    position: relative;
    top: 11px;
}

#thongbao #title .news_title #showall:hover {
    background: #555;
    cursor: pointer;
}

/*Thông báo*/

/*Hoạt động*/

#hoatdong #title .news_title {
    background: #ff7a42;
    color: white;
    left: 40px;
    padding: 2px 20px 8px 20px;
    position: relative;
    top: 8px;
}

#hoatdong #title .news_title #showall {
    background: #ff7a42;
    cursor: pointer;
    left: 18px;
    padding: 10px 6px;
    position: relative;
    top: 11px;
}

#hoatdong #title .news_title #showall:hover {
    background: #555;
    cursor: pointer;
}

/*Hoạt động*/

/*Văn bản*/

#vanban #title .news_title {
    background: #ff7a42;
    color: white;
    left: 40px;
    padding: 2px 20px 8px 20px;
    position: relative;
    top: 8px;
}

#vanban #title .news_title #showall {
    background: #ff7a42;
    cursor: pointer;
    left: 18px;
    padding: 10px 6px;
    position: relative;
    top: 11px;
}

#vanban #title .news_title #showall:hover {
    background: #555;
    cursor: pointer;
}

.item_vanban {
    border-bottom: 1px dotted #ccc;
    margin-top: 10px;
    overflow: hidden;
    padding: 0px 10px;
}

.item_vanban #title { font-size: 1em; }

.item_vanban #date {
    color: #777;
    font-size: 0.9em;
}

.item_vanban img {
    float: right;
    margin: 5px;
    width: 30px;
}



#viewButton:hover {
    background: #4cae4c;
    cursor: pointer;
}

.itemFileDownload {
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 8px 0px;
}

.itemFileDownload:last-child {
    border-bottom: none;
    overflow: hidden;
    padding: 8px 0px;
}

.itemFileDownload:hover { background: #fafafa; }

.itemFileDownload #icon1 {
    float: left;
    margin: 3px 5px;
}

.itemFileDownload #link1 {
    float: left;
    width: 70%;
}

.itemFileDownload #link2 { float: right; }

.itemButton {
    color: white;
    float: right;
    margin: 0px 5px;
    padding: 0px 5px;
}

#download {
    background: #f64949;
    border-color: #4cae4c;
    border-radius: 3px;
}

#download:hover {
    background: #e64949;
    color: white;
}

#viewButton {
    background: #5cb85c;
    border-color: #4cae4c;
    border-radius: 3px;
}

/*Văn bản*/


/*Giới thiệu*/

#imgGioiThieu {
    background: #d7d7d7;
    height: 100%;
    position: relative;
    top: 130px;
}

#imgGioiThieu img { width: 100%; }

#chucnangnhiemvu { }

#content { padding: 20px; }

#content img#logoGioiThieu { width: 100%; }

#content #chucnangnhiemvu, #content #sodotochuc {
    background-color: white;
    position: relative;
    width: 100%;
}

#content #sodotochuc {
    background-image: url('../images/So_do_CTSV.png');
    background-size: 100%;
}

#content #sodotochuc #sodocongtacsinhvien { width: 100%; }

#content #sodotochuc #truongphong {
    margin-left: 43.6%;
    margin-top: 46px;
}

#content #sodotochuc #phophong1 {
    float: left;
    margin-left: 23.6%;
    margin-top: 74px;
}

#content #sodotochuc #phophong2 {
    margin-left: 63.9%;
    margin-top: 74px;
}

#content #sodotochuc #chuyenvien1 {
    float: left;
    margin-left: 4.1%;
    margin-top: 75px;
}

#content #sodotochuc #chuyenvien2 {
    float: left;
    margin-left: 6.65%;
    margin-top: 75px;
}

#content #sodotochuc #chuyenvien3 {
    float: left;
    margin-left: 7.3%;
    margin-top: 75px;
}

#content #sodotochuc #chuyenvien4 {
    float: left;
    margin-left: 7.6%;
    margin-top: 75px;
}

#content #sodotochuc #chuyenvien5 {
    float: left;
    margin-left: 58px;
    margin-top: 75px;
}

.anhcanbo { width: 111px; }

.tencanbo {
    color: #0074FD;
    margin: auto;
}

/*Kết thúc giới thiệu*/

/*Chuỗi phân trang*/

.menuTrang { border-top: 2px solid rgba(79, 110, 209, 1); }

.menuTrang li {
    display: inline;
    height: 10px;
}

.pagination .active {
    background: rgba(79, 110, 209, 1);
    font-weight: bold;
    padding: 4px 10px;
}

.pagination .active a { color: white; }

.pagination li {
    font-weight: bold;
    padding: 4px 10px;
}

/*Kết thúc chuỗi phân trang*/

/*Trang su kien*/

.iskien table { width: 100%; }

.iskien table td { width: 30px; }

.iskien table img { width: 100%; }

.iskien { }

.tbnoidung {
    float: left;
    margin: 5px;
    width: 98%;
}

.list-tile { overflow: hidden; }

.list-tile .thongbao {
    float: left;
    margin: 8px;
    overflow: hidden;
    width: 46%;
}

.list-tile .thongbao #tcontent { width: 70%; }

.tbnoidung .item_sukien {
    border-bottom: 1px solid #ccc;
    margin: 5px;
}

.nthongbao {
    background-color: #f2f1ed;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 3px solid #bbb;
    border-top: 1px solid #ccc;
    padding: 5px;
}

/*Ket thuc su kien*/

/*Trang thông báo*/

#tbxemthem {
    float: left;
    margin-bottom: 10px;
}

.thongbao img#tbanh {
    float: left;
    height: 100px;
    margin: 3px;
    object-fit: cover;
    width: 100px;
}

.thongbao #tcontent {
    float: left;
    padding-left: 5px;
}

.xoa { clear: both; }

.iskien { border-top: 1px solid rgb(205, 189, 189); }

div#dangky {
    border: 1px solid rgb(145, 96, 96);
    padding: 5px;
}

.tbxemthem {
    float: left;
    padding: 10px;
    width: 250px;
}

#content #tbnoidung #dsthongbao {
    border: 1px solid #ccc;
    border-bottom: 3px solid #f7880d;
    padding: 10px;
}

#content #tbnoidung #dsthongbao .thongbao { margin-bottom: 15px; }

#content #tbnoidung a { color: black; }

#content #tbnoidung #tieude {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}

#content #tbnoidung #ngaylap {
    color: #777;
    font-size: 0.9em;
}

/*Kết thúc trang thông báo*/

/* Hoat dong setting */

#hocbong {
    float: left;
    margin-left: 5px;
    width: 48%;
}

.item_hocbong { width: 180px; }

.item_hocbong img {
    s;
    width: 180px;
}

.item_hocbong #title { font-weight: bold; }

#hoatdong #listitem .item_hocbong {
    float: left;
    margin: 8px 8px;
}

/*End hoat dong setting */

/*Breadcrum*/

.breadcrumb {
    background-color: #f5f5f5;
    border-radius: 4px;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 8px 15px;
}

.breadcrumb > li { display: inline-block; }

.breadcrumb > .active { color: #777; }

.breadcrumb a {
    color: #337ab7;
    text-decoration: none;
}

/*Breadcrum*/

/*Login style*/

/*Chi tiết tin tức*/

.ChiTietTin { padding: 0px 5px; }

.ChiTietTin #title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.ChiTietTin #date {
    border-bottom: 1px solid #ccc;
    color: #aaa;
    font-size: 0.9em;
    padding: 5px;
    text-align: right;
}

.ChiTietTin #content {
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 10px;
}

.ChiTietTin embed {
    height: 600px;
    width: 100%;
}

/*End Chi tiết tin tức*/

/*item sidebar*/

.ithongbao { padding: 5px; }

.ithongbao #imgThumb {
    float: left;
    padding-right: 5px;
    padding-top: 3px;
    width: 25%;
}

.ithongbao #content {
    float: left;
    padding: 0px;
    width: 70%;
}

.ithongbao { overflow: hidden; }

/*End item sidebar*/

.portlet-title { float: right; }


/*Counter style*/

.item_tintuc_list #titleCounter {
    color: rgba(79, 110, 209, 1);
    margin: 5px;
    padding: 5px;
}

.item_tintuc_list #number {
    color: #333;
    float: right;
    font-weight: bold;
    padding-right: 10px;
}

/*End Counter style*/

.form-control { width: 435px; }

/*Banner style*/

.nivo-main-image {
    height: 391px !important;
    width: 1000px !important;
}

/*End Banner style*/

/*Search Result style*/

.categoryResult {
    background: #fafafa;
    border-bottom: 1px dotted rgba(79, 110, 209, 1);
    border-left: 2px solid rgba(79, 110, 209, 1);
    border-top: 1px solid #eef;
    color: #555;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
    padding: 7px 10px;
}

/*End Search result style*/

.imgID img {
    height: 150px;
    width: 120px;
}

table.bangcanbo { width: 100%; }

.imgID {
    height: 150px;
    width: 120px;
}

.info { width: 210px; }

.chucvu { width: 210px; }

.tieude {
    background-color: #3A5CAD;
    color: whitesmoke;
    font-size: 15px;
}

tr.noidung1 { background-color: rgba(97, 76, 76, 0.06); }

tr.noidung2 { background-color: rgba(97, 76, 76, 0.12); }

.lienhe {
    background: url('../images/25.gif') no-repeat;
    background-attachment: fixed;
}

.lienhe h1 {
    border-bottom: 2px solid blue;
    color: green;
}

.lienhe h3 {
    font-family: aria;
    font-size: 20px;
    margin-left: 20px;
}

/*Question - answer style*/

#contentRequest {
    background: rgb(219, 255, 187);
    border: 1px solid #ccc;
    border-radius: 3px !important;
    float: left;
    margin-bottom: 5px;
    min-height: 40px;
    padding: 5px 5px;
    width: 91%;
}

.cauhoi #iconRequest { float: left; }

.cauhoi {
    background-color: white !important;
    width: 100% !important;
}

#contentResponse {
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 3px !important;
    float: left;
    padding: 5px 0px;
    width: 92%;
}

.traloi #iconResponse { float: right; }

.traloi { background-color: white !important; }

/*End*/

/* Section style for slidebar mobile*/

.sidebar-menu .logo {
    margin: 0px auto;
    width: 70px;
}

.sidebar-menu .logo img { width: 100%; }

.list-block ul {
    background: none;
    border: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-inner { padding: 0px 0px; }

.list-block ul li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.collapse { display: none; }

.collapse.in { display: block; }

.list-block ul > li a {
    border-bottom: 1px solid #333;
    display: block;
    line-height: 50px;
    overflow: hidden;
    padding-left: 15px;
}

.list-block ul > li a {
    border-bottom: 1px solid #333;
    display: block;
    line-height: 50px;
    overflow: hidden;
    padding-left: 15px;
    transition: all 0.5s ease;
}

.list-block ul > li a:hover, .list-block ul > li a:active, .list-block ul > li a:focus, .list-block ul > li.active { background-color: #5270d0; }

.item-title i.fa {
    margin: 0 10px;
    text-align: center;
    width: 30px;
}

.item-title i.fa[class~=right] {
    float: right;
    padding-top: 18px;
}

.list-block .item-link { color: #fff; }

.list-block .item-link:hover, .list-block .item-link:focus { text-decoration: none; }

.item-child .item-link { padding: 0px 0px 0px 35px; }

.child-active { background: white; }

.child-active a { color: #333 !important; }

.child-active:hover a { color: white !important; }

.inactive { background: #1a1a1a; }

.collapsing {
    -o-transition-duration: .35s;
    -o-transition-property: height, visibility;
    -o-transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -webkit-transition-timing-function: ease;
    height: 0;
    overflow: hidden;
    position: relative;
    transition-duration: .35s;
    transition-property: height, visibility;
    transition-timing-function: ease;
}

.list-block { font-size: 14px; }

.footer {
    background-color: #213c94;
    bottom: 0;
    color: #f1f1f1;
    display: block;
    line-height: 50px;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    width: 100%;
}



/* Section style for search-bar */

.search-bar {
    background: #f1f1f1;
    border: 1px solid #eee;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px;
}

.search-bar-title {
    font-weight: bold;
    margin: 5px;
}

.search-box {
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    float: left;
    transition: 0.5s all ease;
    width: 86%;
}

input#search-bar-box {
    border: none;
    border-radius: 3px;
    float: left;
    outline: none;
    padding: 6px;
    width: 83%;
}

a.btn.btn-success {
    background: rgba(79, 110, 209, .95);
    color: white;
    float: right;
    padding: 5px 15px;
}

a.btn.btn-success.btn-search-more {
    background: #666;
    border-radius: 3px;
    padding: 6px 15px;
}

.search-group-btn { float: right; }

input.btn.btn-success {
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 8px 17px;
}

.search-more {
    float: left;
    height: 31px;
    margin-top: 10px;
    overflow: hidden;
    transition: 0.5s all ease;
}

.search-bar select {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
    padding: 6px 10px;
}

select#search-bar-faculty {
    border: none;
    display: none;
    float: left;
    outline: none;
    width: 80%;
}



.text-right { text-align: right; }

.text-left { text-align: left; }

.text-center { text-align: center; }



/* Modal bootstrap */

.modal-open { overflow: hidden; }

.modal {
    -webkit-overflow-scrolling: touch;
    bottom: 0;
    display: none;
    left: 0;
    outline: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}

.modal.fade .modal-dialog {
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    -o-transition: -o-transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    transform: translate(0, -25%);
    transition: transform .3s ease-out;
}

.modal.in .modal-dialog {
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    margin: 10px;
    position: relative;
    width: auto;
}

.modal-content {
    -webkit-background-clip: padding-box;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    outline: 0;
    position: relative;
}

.modal-backdrop {
    background-color: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.43px;
    padding: 15px;
}

.modal-header .close { margin-top: -2px; }

.modal-title {
    line-height: 1.42857143;
    margin: 0;
}

.modal-body {
    padding: 15px;
    position: relative;
}

.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    text-align: right;
}

.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn { margin-left: -1px; }

.modal-footer .btn-block + .btn-block { margin-left: 0; }

.modal-scrollbar-measure {
    height: 50px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
    width: 50px;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin: 30px auto;
        width: 600px;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }

    .modal-sm { width: 300px; }
}

@media (min-width: 992px) {
    .modal-lg { width: 900px; }
}