@using WEBPCTSV.Models.bean
@using WEBPCTSV.Models.Support
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    ViewBag.Title = "Danh sách sinh viên.";
}
<h3 class="header-paper">Danh sách sinh viên</h3>
<div>
    <div style="float: left; margin-left: 10px">

        @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "themsinhvien"))
        {
            <a href="/ManageStudent/AddStudent">
                <label class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Thêm sinh viên</label>
            </a>
        }
        @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "importexcel"))
        {
            <a href="/ManageStudent/ImportStudent">
                <label class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Import dữ liệu sinh viên</label>
            </a>
        }
    </div>


    <form action="/ManageStudent/ListStudent?page=1" method="post">
        <div class="input-group" style="float: right; margin-right: 20px; padding-bottom: 5px; width: 400px;">
            <input name="search" type="text" class="form-control">
            <input name="page" type="hidden" value="1">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Tìm kiếm</button>
            </div>
        </div>
    </form>
    <hr style="clear: both"/>
    <div class="container-layoutmanager">
        @{
            List<Student> listStudent = ViewBag.listStudent;
            PageNumber pageNumber = ViewBag.pageNumber;
        }
        @Html.Partial("_ListStudent", listStudent)

        @Html.Partial("~/Views/PartialShared/_PageNumber.cshtml", pageNumber)
    </div>

</div>

<div>
</div>