@using WEBPCTSV.Models.bean
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    ViewBag.Title = "Danh sách giấy tờ";
}

<h3 class="header-paper">Danh sách giấy tờ</h3>
<div class="container-layoutmanager">
    <table class="table table-hover">
        <tbody>
        @foreach (Paper paper in ViewBag.listPaper)
        {
            <tr>
                <td style="padding-bottom: 15px; padding-top: 15px;">
                    <strong>
                        <a href="/ManagePaper/EditPaper?id=@paper.IdPaper">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i> @paper.PaperName
                        </a>
                    </strong>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>