@using WEBPCTSV.Models.bean;
@using PagedList.Mvc;
<link rel="stylesheet" href="/assets/css/dataTables.bootstrap.min.css">
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
@{
    AccountSession accountSession = (AccountSession)Session["AccountSession"];
    List<Class> classes = ViewBag.classes;
    ConductEvent conductEvent = ViewBag.conductEvent;
    ConductSchedule lastConductSchedule = ViewBag.lastConductSchedule;
    Faculty faculty = ViewBag.faculty;
    int index = 0;
}
@if (classes == null || classes.Count() == 0)
{
    <div class="alert-dropdown alert-info">Không tìm thấy dữ liệu!</div>
}
else
{
    <table class="table table-hover table-bordered table-tripped" id="myTable">
        <thead>
            <tr>
                <td class="col-xs-1">STT</td>
                <td>Tên lớp</td>
                <td>Chủ nhiệm</td>
                <td>Tình trạng</td>
                <td width="80px">Chi Tiết</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Class classItem in classes)
            {
                int totalStudent = classItem.Students.Where(s => s.IsReserved == false && s.IsGraduated == false && s.IsExpelled == false).Count();
                if (totalStudent == 0)
                {
                    continue;
                }
                int totalEvaluated = conductEvent.ConductResults.Where(c => c.Student.Class.IdClass == classItem.IdClass && c.IdConductSchedule == lastConductSchedule.IdConductSchedule).Count();
                <tr class="noidung">
                    <td>@(++index)</td>
                    <td>@(classItem.ClassName)</td>
                    <td>
                        @{
                LecturerClass lecturerClass = classItem.LecturerClasses.Where(l => l.IdSemester == conductEvent.IdSemester).FirstOrDefault();
                if (lecturerClass != null)
                {
                    Lecturer lecturer = lecturerClass.Lecturer;
                    @(lecturer != null ? lecturer.LastName + " " + lecturer.FirstName : "")
                }
                        }
                    </td>
                    <td>
                        @if (totalStudent == totalEvaluated)
                        {
                            <i class="fa fa-check color-success" aria-hidden="true" title="Đã duyệt thành công"></i>
                        }
                        else
                        {
                            <i class="fa fa-times color-danger" aria-hidden="true" title="Chưa được duyệt điểm"></i>
                        }
                    </td>
                    <td>
                        <span onclick="showClassDetail(@classItem.IdClass)" class="label label-success label-link">Chi tiết</span> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script>
    function showClassDetail(idClass) {
        idSemester = $('#idSemester').val();

        $.ajax({
            type: 'POST',
            data: {
                idClass: idClass,
                idSemester: idSemester
            },
            url: '/QuanLy/QuanLyRenLuyen/DanhGiaLop',
            success: function (response) {
                $('#tbnoidung').html(response);
            },
        });
    }
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#myTable tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        // DataTable
        var table = $('#myTable').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
</script>