@using WEBPCTSV.Models.bean
@using WEBPCTSV.Helpers.Common;

@{
    ViewBag.Title = "Đăng nhập hệ thống";
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title</title>
    <script src="~/assets/js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/AdminStyle.css">
    <script src="~/js/jquery.validate.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document)
                .ready(
                        function () {
                            //Check validate username
                            $.validator.addMethod("username", function (value,
                                    element, regexpr) {
                                return regexpr.test(value);
                            }, "Tên đăng nhập không đúng định dạng");

                            $("#fLogin")
                                    .validate(
                                            {
                                                rules: {
                                                    TenDangNhap: {
                                                        required: true,
                                                        username: /^[\w]{4,50}$/
                                                    },
                                                    MatKhau: {
                                                        required: true,
                                                        minlength: 4,
                                                        maxlength: 50
                                                    }
                                                },
                                                messages: {
                                                    TenDangNhap: {
                                                        required: "Chưa nhập tên tài khoản",
                                                        username: "Tên đăng nhập không đúng định dạng<br>Bắt đầu bằng _ hoặc chữ cái<br>Có tối thiểu 4 kí tự."
                                                    },
                                                    MatKhau: {
                                                        required: "Chưa nhập mật khẩu!",
                                                        minlength: "Mật khẩu phải lớn hơn 4 kí tự và bé hơn 50 kí tự",
                                                        maxlength: "Mật khẩu phải lớn hơn 4 kí tự và bé hơn 50 kí tự",
                                                    },
                                                },
                                                submitHandler: function (form) {
                                                    form.submit();
                                                }
                                            });
                        });
    </script>
    <style type="text/css">
        label.error {
            color: #FF0000;
        }

        input.error {
            border: 2px solid #FF0000;
            color: #0000FF;
            border-style: ridge;
        }
    </style>
</head>

<body class="login-bg">
    <div class="container">
        <h1 class="login-title">Trang quản lý Phòng Công Tác Sinh Viên</h1>
        <div class="col-md-8">
            <div class="box-shadow">
                <img src="~/images/admin.jpg" width="100%">
            </div>
        </div>

        <div class="col-md-4">
            <h3 class="form-signin-heading text-center">Đăng nhập hệ thống</h3>
            <hr class="login-line">
            @if (!StringExtension.IsNullOrWhiteSpace((string)TempData["error"]))
            {
                <div class="alert alert-danger">
                    @(TempData["error"])
                </div>
            }
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "fLogin" }))
            {
                <input type="hidden" name="returnPage" value="QuanLy" />
                <input type="text" value="" placeholder="Tài khoản" name="userName" id="userName" data-val-required="Vui lòng nhập tài khoản." data-val="true" class="form-control">
                <br />
                <input type="password" placeholder="Mật khẩu" name="password" id="password" data-val-required="Vui lòng nhập mật khẩu" data-val="true" class="form-control">
                <div class="checkbox">
                    <input type="checkbox" value="true" style="margin-left: 0px;" name="RememberMe" id="RememberMe" data-val-required="The Nhớ mật khẩu? field is required." data-val="true"><input type="hidden" value="false" name="RememberMe">
                    <label for="RememberMe">Nhớ mật khẩu?</label>
                </div>
                <button type="submit" class="btn btn-danger btn-block btn-lg">Đăng nhập</button>
                @*<div class="input-group top-10">
                    <i class="fa fa-unlock"></i> <a href="#">Quên mật khẩu</a>
                </div>*@
            }
        </div>
    </div>
    <div class="container ">
        <hr class="login-line">
        <p class="text-center">Copyright © 2016</p>
    </div>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>

